html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* navigation */
#navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center
   
}
#navbar ul li {
    padding: -5px;

}
/* home */


#home{
height: fit-content;
}
#home::before {
    height: 500px;
}
#home p{

}
/* services */
#services{
    flex-direction: column;

}
#services .home{

}
/* clients section */


/* contact us section */

/* footer */

/* utility classess */
.h-primary{

}
